@font-face {
  font-family: 'quaIcon';
  src:  url('fonts/icomoon.eot?7vfwjk');
  src:  url('fonts/icomoon.eot?7vfwjk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7vfwjk') format('truetype'),
    url('fonts/icomoon.woff?7vfwjk') format('woff'),
    url('fonts/icomoon.svg?7vfwjk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="quaIcon-"], [class*="quaIcon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'quaIcon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: -0.15em;
    text-align: center;
    line-height: 1;

    /* Better Font Rendering =========== */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes quaLoading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.quaIcon-loading:before {
    content: "\e900";
    display: inline-block;
    animation: quaLoading 1s linear infinite;
}
.quaIcon-home:before {
    content: "\e901";
}
.quaIcon-save:before {
    content: "\e902";
}
.quaIcon-save-filled:before {
    content: "\e903";
}
.quaIcon-more:before {
    content: "\e904";
}
.quaIcon-more-h:before {
    content: "\e905";
}
.quaIcon-circle-add:before {
    content: "\e906";
}
.quaIcon-home-filled:before {
    content: "\e907";
}
.quaIcon-circle-remove:before {
    content: "\e908";
}
.quaIcon-circle-remove-filled:before {
    content: "\e909";
}
.quaIcon-circle-add-filled:before {
    content: "\e90a";
}
.quaIcon-remove:before {
    content: "\e90b";
}
.quaIcon-visible-off:before {
    content: "\e90c";
}
.quaIcon-visible:before {
    content: "\e90d";
}
.quaIcon-info:before {
    content: "\e90e";
}
.quaIcon-circle-good:before {
    content: "\e90f";
}
.quaIcon-good:before {
    content: "\e910";
}
.quaIcon-delete:before {
    content: "\e911";
}
.quaIcon-notify:before {
    content: "\e912";
}
.quaIcon-help-filled:before {
    content: "\e913";
}
.quaIcon-circle-close:before {
    content: "\e914";
}
.quaIcon-help:before {
    content: "\e915";
}
.quaIcon-up:before {
    content: "\e916";
}
.quaIcon-right:before {
    content: "\e917";
}
.quaIcon-left:before {
    content: "\e918";
}
.quaIcon-down:before {
    content: "\e919";
}
.quaIcon-close:before {
    content: "\e91a";
}
.quaIcon-add:before {
    content: "\e91b";
}
