$borderRadius: 0px;
$borderRadiusLarge: 0px;

$borderWidth: 1px;
$borderWidthLarge: 2px;

$white: rgb(255, 255, 255);
$whiteDark: rgba(255, 255, 255, .8);
$whiteHover: rgba(255, 255, 255, .05);
$whiteActive: rgba(255, 255, 255, .15);

$blue: rgb(24, 144, 255);
$blueDark: rgb(24, 117, 227);
$blueHover: rgba(24, 144, 255, .05);
$blueActive: rgba(24, 144, 255, .15);

$green: rgb(0, 132, 137);
$greenDark: rgb(0, 105, 109);
$greenHover: rgba(0, 132, 137, .05);
$greenActive: rgba(0, 132, 137, .15);

$red: rgb(255, 90, 95);
$redDark: rgb(231, 70, 75);
$redHover: rgba(255, 90, 95, .05);
$redActive: rgba(255, 90, 95, .15);

$gray: rgb(72, 72, 72);
$grayDark: rgb(35, 35, 35);
$grayHover: rgba(72, 72, 72, .05);
$grayActive: rgba(72, 72, 72, .15);

$orange: #faad14;
$normalColor: #666;
$normalBgColor: #f8f8f8;
$normalBorderColor: #c6c6c6;


$maskBgColor: rgba(0, 0, 0, .75);